.righttext {
    text-align: right;
}

.centertext {
    text-align: center;
}

.avatar {
    padding-top: 10px; 
}

.center {
    margin: auto;
}

.paddingright {
    margin-right: 20px;
    padding-right: 100px;
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}

ion-avatar { 
    width: 100px;  
    height: 100px;  
}

.line {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.479);
}

.paddinggeneral {
    padding: 8px;
}
