.nopadding {
    padding: 0px;
}

.padding {
    padding: 10px;
}

.allign {
    vertical-align: middle;
}

.nomargin {
    margin-bottom: 0px;
    margin-top: 0px;
}

.line {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.479);
}

.paddingtop {
    padding-top: 15px;
}