<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Acerca de Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="paddingtop">
    <ion-col class="line" size="10">
      <h3>Información</h3>
      <p>{{empresa?.detalles}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="paddingtop">
    <ion-col class="line" size="10">
      <h3>Dirección</h3>
      <p>{{empresa?.direccion}}</p>
    </ion-col>
  </ion-row>
</ion-content>

