.titulo {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 13px;
}

.titulo2 {
    padding-top: 0px;
    padding-bottom: 18px;
    padding-left: 13px;
}

.space {
    padding-top: 18px;
}
