.center {
    margin: auto;
}

.foto {
    width: 130px;
    height: 130px;
}

.paddingtop {
    padding-top: 30px;
}

.line {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.199);
}

.paddingtop2 {
    padding-top: 15px;
}

.lesspadding {
    padding-bottom: 0px;;
}

.lesspaddingtop {
    padding-top: 0px;;
}

.paddinggeneral {
    padding: 8px;
}